#my-portrait-img{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    margin: 10px;
    opacity: 0.8; 
}

#welcome-msg{
    margin: 10px 20px 10px 20px;
    font-weight: lighter; 
}

#welcome-msg-wrapper{
    padding: 20px;
    width: 100%;
}


#about{
    width: 80%;
    padding: 20px;
    background-color:  rgb(0, 36, 61);
}


#projects{
    padding-top: 15vh;
}

#contact{
    padding-top: 15vh;
}

#cc-demo:hover{
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(0, 36, 61);
}
#ss-demo:hover{
    border-radius: 10px;
    padding: 5px;
    background-color: rgb(0, 36, 61);
}

#login-logout:hover{
    color: rgb(0, 36, 61);
}

/*Media icons styling starts here*/
.linkedin{
    font-size: 30px;
    background-color: #0077B5;
    color: white;
    border-radius: 15%;
    height: 20px;
    width: 20px;
}

.linkedin:hover{
    box-shadow: 0px -10px 5px #0077B5;
}

.github{
    font-size: 30px;
    color: white;
    background-color: black;
    border-radius: 15%;
    height: 20px;
    width: 20px;
}
.github:hover{
    box-shadow: 0px -10px 5px black;
}

.email{
    font-size: 30px;
    border: 15%;
    color: rgb(178, 49, 33);
    background: rgb(238, 238, 238);
    border-radius: 15%;
    height: 20px;
    width: 20px;
}

.email:hover{
   box-shadow: 0px -10px 5px rgb(238, 238, 238); 
}

.instagram {
    font-size: 30px;
    border-radius: 15%;
    color: #fff;
    background: #d6249f;
    background: radial-gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);
    box-shadow: 0px 3px 10px rgba(0,0,0,.25);
    height: 20px;
    width: 20px;
}
.instagram:hover{
    box-shadow: 0px -10px 5px #5B5BE9;
}

