/*#content {
  margin-left: auto;
  margin-right: auto;
  width: 650px;
}

#greeting-container {
  margin-top: 20px;
}*/

*{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

body{
    background-color: rgb(0, 36, 61);
    height: 100%;
    overflow: hidden; /*To hide scroll bar*/
    line-height: 1.6;
}
a{
    text-decoration: none;
}
a:hover{
    color: rgb(247, 227, 92);
}

.content{
    color:whitesmoke;
    bottom: 0%;
    width: 960px;
    margin-left: auto;
    margin-right:auto;
    background-color: rgb(43, 72, 107);
    box-shadow: 0px -5px 30px black;
}

.navbar{
  position: fixed;
  top: 0;
  background-color: rgb(0, 36, 61);
  padding: 20px;
  height: 20px; 
  width: 100%;
  left: 0;
}

.navbar-img{
    border-radius: 50%;
    width: 3%;
    height: 3%;
    box-shadow: 0px -5px 30px gainsboro;
}


.footer{
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: rgb(0, 36, 61);
  /*background-color: rgb(4, 40, 87);*/
  text-align: center;
  font-size: 11px;
  font-weight: lighter;
  color: whitesmoke;
}

.center-text{
    text-align: center;
}

.blue1-text{
    color: rgb(0, 36, 61);
}

.green-text{
    color: green;
}

.red-text{
    color: red;
}

.whitesmoke-text{
    color: whitesmoke;
}

.blue1-border{
    border: solid rgb(0, 36, 61) 2px;
}

.full-width{
    width: 100%;
}

.flexbox-container-center{
    display: flex;
    justify-content: center;
}

.flexbox-container-left{
    display: flex;
    justify-content: flex-start;
}

.flexbox-container-expand{
    display: flex;
    justify-content: space-between;
}

.flexbox-container-even{
    display: flex;
    justify-content: space-evenly;
}

.flexbox-item{
    margin: 10px;
    width: 50%;
    border-radius: 7px;
    padding-left: 2%;
    padding-right: 2%;
}

.blue1-bg{
     background-color: rgb(0, 36, 61);
}

.blue2-bg{
    background-color: rgb(4, 40, 87);
}

.blue3-bg{
    background-color: rgb(43, 72, 107);
}
.yellow-bg{
    background-color: rgb(247, 227, 92);
}

/*center a div*/
.center-xy{
    position: absolute;
    left: 20vw;
    top: 20vw;
    transform: translate(-50%, -50%);
}

.extend-top-inner-gap{
    padding-top: 20vh;
}

.round{
    border-radius: 50%;
}

.black-shadow{
    box-shadow: 0px -5px 30px black;
}


/*expands a div to fill the current view point*/
.full-screen{
    height: 100vh;
}

.remove-underline{
    text-decoration: none;
}

.padding20{
   padding: 20px; 
}
.margin-bottom-100{
   margin-bottom: 100px;
}


/* TODO: Rename this */
.nav-position{
    margin-left: 30vw; 
}

.smaller-font{
    font-size: 11px;
}



